<!--  We link to the restaurant's name and it will take us to that particular restaurant -->
<h1>My Restaurants</h1>

<% @restaurants.each do |restaurant| %>
 <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<% end %>
